$primaryColor: #12add7;
$secondaryColor: #2d2e32;

.footer-container{
    background-color: #12add7;
    height: auto;
    text-align: center;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    nav{
        margin-bottom: 20px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;
            a{
                color: #fff;
                &:hover{
                    color: #d2d2d2;
                }
            }
        }
    }
    img{
        border-radius: 100%;
        width: 100px;
        margin-bottom: 20px;
    }
    .line{
        width: 80%;
        height: 1px;
        background-color: #fff;
    }
    .reserved{
        margin: 20px;
    }
}