$primaryColor: #12add7;
$secondaryColor: #2d2e32;

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $secondaryColor;
  text-decoration: inherit;
  &:hover {
    color: $primaryColor;
    transition: all ease-in-out 0.3s;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-active{
  overflow: hidden;
}

button {
  border-radius: 8px;
  padding: 15px 10px;
  font-size: 1em;
  font-weight: 600;
  background-color: $primaryColor;
  color: #fff;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: $primaryColor;
    transition: all ease-in-out 0.3s;
  }
}

.button2 {
  border-radius: 8px;
  padding: 15px 10px;
  font-size: 1em;
  font-weight: 600;
  background-color: #fff;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  cursor: pointer;
  &:hover {
    background-color: $primaryColor;
    color: #fff;
    transition: all ease-in-out 0.3s;
  }
}